*.egg-info/
*.py[cdo]

build/
dist/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/pytorch-fcn.iml
/.idea/vcs.xml
